<div class="year-grid">
  <div class="row" ng-repeat="mChunked in monthsAndDaysChunked">
    <div class="col" ng-repeat="daysAndMonth in mChunked">

      {{ monthsNames[daysAndMonth.month] }}

      <!-- Days month grid -->
      <div class="" ng-repeat="days in daysAndMonth.daysChunked">
        <div class="year-grid-month-box" ng-repeat="dayCell in days track by $index">
          <span class="year-grid-day-cell"
                ng-click="onDayCellToggled(dayCell)"
                ng-class="{ 'year-grid-day-cell-selected': dayCell.selected }">{{ dayCell.date }}<span>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
