<ion-view view-title="Qando" initial-loader="HomeCtrl.loader">
  <ion-content>
    <div class="row responsive-sm">
        <div class="col">
            <div class="item item-dark text-center">
                {{ HomeCtrl.shop.name }}
            </div>
            <!-- #TODO: aggiungere stato shop e servizi attivi -->
        </div>
    </div>
    <div class="row responsive-sm">
        <div class="col">
            <div class="item item-dark text-center">
                Appuntamenti da confermare <span class="badge badge-calm">{{HomeCtrl.numPending}}</span>
            </div>
            <div class="list">
                <div class="item" ng-repeat="booking in HomeCtrl.pending" ui-sref="app.logged.booking-detail({ bookingId:booking.id })">
                  {{ booking.service.name }}
                  <p>
                    {{ booking.user.email }} <br>
                    {{ booking.start|momentDateTimeFormat:"YYYY-MM-DD HH:mm" }} - {{ booking.end|momentDateTimeFormat:"YYYY-MM-DD HH:mm" }}
                  </p>
                </div>
                <div class="item item-button-right" ng-if="HomeCtrl.numPending > HomeCtrl.pending.length">
                    &nbsp;
                    <button class="button button-clear" ui-sref="app.logged.bookings({bookingStatus:'pending'})">Vedi tutti</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="item item-dark text-center">
                Appuntamenti confermati <span class="badge badge-calm">{{HomeCtrl.numConfirmed}}</span>
            </div>
            <div class="list">
                <div class="item" ng-repeat="booking in HomeCtrl.confirmed" ui-sref="app.logged.booking-detail({ bookingId:booking.id })">
                  {{ booking.service.name }}
                  <p>
                    {{ booking.user.email }} <br>
                    {{ booking.start|momentDateTimeFormat:"YYYY-MM-DD HH:mm" }} - {{ booking.end|momentDateTimeFormat:"YYYY-MM-DD HH:mm" }}
                  </p>
                </div>
                <div class="item item-button-right" ng-if="HomeCtrl.numConfirmed > HomeCtrl.confirmed.length">
                    &nbsp;
                    <button class="button button-clear" ui-sref="app.logged.bookings({bookingStatus:'confirmed'})">Vedi tutti</button>
                </div>
            </div>
            
        </div>
    </div>
    

    

  </ion-content>
</ion-view>
