<ion-view view-title="Servizi" >

  <ion-nav-buttons side="right">
    <button class="button button-clear"
      ui-sref="app.logged.add-service">Aggiungi</button>    
  </ion-nav-buttons>

  <ion-content class="">
    <ion-list>
      <ion-item ng-repeat="service in ServicesCtrl.services" ui-sref="app.logged.service-detail({ serviceId:service.id })">
        {{ service.name }}
        <p>
        <span class="positive">Durata</span>: {{ service.calculated_duration }}
        </p>
        <!--<button class="button button-positive button-clear" ui-sref="app.logged.service-detail({ serviceId:service.id })">
          <i class="icon ion-chevron-right"></i>
        </button>
      -->
      <ion-option-button class="button-assertive" ng-click="ServicesCtrl.dropService(service)">Elimina</ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
