<ion-view view-title="Chiusure straordinarie " xhide-back-button="true">

  <div class="bar bar-subheader">
      <button class="button button-clear" ng-click="ShopSpecialClosingDaysCtrl.toPrevYear()">
          prev
      </button>
      <h2 class="title">
          {{ShopSpecialClosingDaysCtrl.year}}
      </h2>
      <button class="button button-clear" ng-click="ShopSpecialClosingDaysCtrl.toNextYear()">
          next
      </button>
  </div>
  <div initial-loader="ShopSpecialClosingDaysCtrl.loader" content-classes="has-subheader">
    <ion-content class="has-header has-subheader">
      <year-grid closing-days="ShopSpecialClosingDaysCtrl.closingDays" on-day-toggled="ShopSpecialClosingDaysCtrl.onDayToggled" year="ShopSpecialClosingDaysCtrl.year" ng-if="ShopSpecialClosingDaysCtrl.closingDays"></year-grid>
    </ion-content>
  </div>
</ion-view>
