<ion-view view-title="{{ ShopEditCtrl.shop.name }}" initial-loader="ShopEditCtrl.loader">

  <ion-content class="padding">

  <form ng-submit="ShopEditCtrl.updateShop()"
          class="validate-form" name="form" novalidate
          server-errors="ShopEditCtrl.serverErrors" validate-form>

        <span validate-field="name">
        <validate-label class="item item-input">
          <span class="input-label">Nome</span>
          <input type="text"
                 name="name"
                 ng-model="ShopEditCtrl.shop.name"
                 required />
        </validate-label>
        <validate-errors >
        </validate-errors>
        </span>

        <span validate-field="domain_name">
        <validate-label class="item item-input">
          <span class="input-label">Dominio</span>
          <input type="text"
                 name="domain_name"
                 ng-model="ShopEditCtrl.shop.domain_name"
                 required />
        </validate-label>
        <validate-errors >
        </validate-errors>
        </span>

        <div class="item item-with-button">
          <button class="button button-block icon button-balanced"
                  ng-disabled="form.$invalid"
                  type="submit">Salva</button>
        </div>
    </form>

  </ion-content>
</ion-view>
