<ion-view view-title="{{ ShopCtrl.shop.name }}">
  <ion-content>
    
    <div time-table ranges="ShopCtrl.testWorkingHours" data-tap-disabled="true"></div>
    <div time-table ranges="ShopCtrl.testWorkingHours" data-tap-disabled="true"></div>
    <div time-table ranges="ShopCtrl.testWorkingHours" data-tap-disabled="true"></div>
    <div time-table ranges="ShopCtrl.testWorkingHours" data-tap-disabled="true"></div>
    <div time-table ranges="ShopCtrl.testWorkingHours" data-tap-disabled="true"></div>
    <div time-table ranges="ShopCtrl.testWorkingHours" data-tap-disabled="true"></div>


  </ion-content>
</ion-view>
