<ion-view view-title="{{ ShopCtrl.shop.name }}">
    
    
  <ion-content>
    
    <div class="list card">
        <div class="item item-positive item-button-right">
            Dati shop
            <button class="button button-clear button-light">
                Modifica
            </button>
        </div>
        <div class="item">
            <div class="row">
                <div class="positive col col-25">Nome</div>
                <div class="col">{{ ShopCtrl.shop.name }} </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="positive col col-25">Dominio</div>
                <div class="col">{{ ShopCtrl.shop.name }} </div>
            </div>
        </div>
        
    </div>

    <div class="card">
        <div class="item item-positive">
            Gestione orari
        </div>

        <div class="item item-button-right" ui-sref="app.logged.shop-weekhours">
            Orari apertura
            <button class="button button-icon ion-chevron-right"></button>
        </div>
        <div class="item item-button-right">
            Giorni chiusura
            <button class="button button-icon ion-chevron-right"></button>
        </div>
        <div class="item item-button-right" ui-sref="app.logged.shop-specialhours">
            Orari straordinari
            <button class="button button-icon ion-chevron-right"></button>
        </div>
        <div class="item item-button-right">
            Chiusure straordinarie
            <button class="button button-icon ion-chevron-right"></button>
        </div>
        
    </div>

    
    
    
    
    

  </ion-content>
</ion-view>
